{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
Hi {{user.username}}
{% else %}
<form class="form-inline" action = {% url 'login' %} method = 'POST'  role="form">
    {% csrf_token %}
    <div class="form-group"><input type="text" class="form-control input-lg" name = 'username' id="exampleInputEmail2" placeholder="Your Email"></div>
    <div class="form-group"><input type="text" class="form-control input-lg" name = 'password' id="exampleInputPassword2" placeholder="Password"></div>
    <button type="submit" class="btn btn-lg btn-default">Login</button>
</form>
{% endif %}
{% endblock content %}